In [46]:
def str_to_num_weekday(weekday: str):
    if weekday == 'Monday': return 1
    if weekday == 'Tuesday': return 2
    if weekday == 'Wednesday': return 3
    if weekday == 'Thursday': return 4
    if weekday == 'Friday': return 5
    if weekday == 'Saturday': return 6
    if weekday == 'Sunday': return 7

In [68]:
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import datetime

data = pd.read_csv('traffic.csv', dtype={'Date': 'int'})

# Transform str 'Day of the week' to int to make it ordinal
data['Day of the week'] = data['Day of the week'].map(lambda d: str_to_num_weekday(d))

# transform Date and Time to Timestamp
data['Date'] = data.apply(lambda row: pd.Timestamp(
    year=2023, 
    month=1, 
    day=row['Date'],
    hour=datetime.datetime.strptime(row['Time'], '%I:%M:%S %p').hour,
    minute=datetime.datetime.strptime(row['Time'], '%I:%M:%S %p').minute
), axis=1)
data = data.drop(['Time'], axis='columns')

In [69]:
data

,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,2023-01-10 00:00:00,2,31,0,4,4,39,low
1,2023-01-10 00:15:00,2,49,0,3,3,55,low
2,2023-01-10 00:30:00,2,46,0,3,6,55,low
3,2023-01-10 00:45:00,2,51,0,2,5,58,low
4,2023-01-10 01:00:00,2,57,6,15,16,94,normal
...,...,...,...,...,...,...,...,...
2971,2023-01-09 22:45:00,4,16,3,1,36,56,normal
2972,2023-01-09 23:00:00,4,11,0,1,30,42,normal
2973,2023-01-09 23:15:00,4,15,4,1,25,45,normal
2974,2023-01-09 23:30:00,4,16,5,0,27,48,normal
2975,2023-01-09 23:45:00,4,14,3,1,15,33,normal

In [71]:
X = data.drop('Traffic Situation', axis='columns')
X['Date'] = pd.to_numeric(pd.to_datetime(X['Date']))

clf = DecisionTreeClassifier()
clf = clf.fit(X, data['Traffic Situation'])